<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
      html,
      body {
        position: relative;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/theme/dracula.min.css"
    />

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
  </head>

  <body>
    <% for (var js of htmlWebpackPlugin.files.js) { %>
    <script src="<%= js %>"></script>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/javascript/javascript.min.js"></script>
    <script>
      new WebCodeEditor.WebCodeEditor(
        document.body,
        (place) => {
          return CodeMirror(place, {
            lineNumbers: true,
            // mode: "javascript",
            theme: "dracula",
          });
        },
        {
          staticText: {
            openFolder: "Open Folder",
            selectFolder: "Select Folder",
            close: "Close",
            closeAll: "Close All",
            closeOther: "Close Other",
            closeRight: "Close Right",
            openRight: "Open Right",
            delete: "delete",
            newFile: "new File",
            newDir: "new Dir",
            errMeg: "File or file name must be provided",
            save: "Save",
          },
        }
      );
    </script>
  </body>
</html>
