.web-code-editor
  --bg: rgb(30, 30, 30);
  --pane1-bg: rgb(37, 37, 38);
  --title-tabs-bg: rgb(45, 45, 45);
  --filename: rgb(153, 153, 153);
  --filenameHover: #fff;
  --primary: #0c5687;
  --primaryHover: rgb(17, 119, 187);
  --mask-zIndex: 4;
  --create-zIndex: 5;
  --right-menu-zIndex: 10;
  --font-family: consolas;
  --file-icon: '🗄️';
  --dir-icon: '📁';
  --dir-open-icon: '✨';
  --scrollbar-thumb: rgb(76, 76, 76);
  --scrollbar-thumb-hover: rgb(121, 117, 117);
  --err-color: rgba(159, 0, 0, 1)